<ion-header>
  <ion-navbar>
    <ion-title (click)="clickReturn()">
      Return
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf = "musicItemsIsLoad == true">
	    <ion-item *ngFor = "let item of audioService.audioList">
	      <ion-icon *ngIf = "audioService.audioPlayingName==item.name && audioService.audioState=='playing'" name="ios-pause-outline" item-start (click)="clickChangeState(item.name, item.type)"></ion-icon>
	      <ion-icon *ngIf = "audioService.audioPlayingName!=item.name || audioService.audioState!='playing'" name="ios-play-outline" item-start (click)="clickChangeState(item.name, item.type)"></ion-icon>
	      <p style="margin-bottom: 5px; font-size: 15px; color: black">{{item.music_name}}</p>
	      <p style="font-size: 12px">{{item.singer}}</p>
	      <ion-icon name="md-more" item-end (click)="presentActionSheet(item)"></ion-icon>
	    </ion-item>

	  <!--<ion-item *ngFor = "let item of audioService.audioList">
	    {{item.name}}
	    <ion-icon *ngIf = "audioService.audioPlayingName==item.name && audioService.audioState=='playing'" name="ios-pause-outline" item-end (click)="clickChangeState(item.name, item.type)"></ion-icon>
	    <ion-icon *ngIf = "audioService.audioPlayingName!=item.name || audioService.audioState!='playing'" name="ios-play-outline" item-end (click)="clickChangeState(item.name, item.type)"></ion-icon>
	    <ion-icon name="md-more" item-end></ion-icon>
	  </ion-item>-->
  </ion-list>
</ion-content>