<ion-header>
  <header class="mdc-top-app-bar" style="background-color: black">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <a href="#" class="material-icons mdc-top-app-bar__navigation-icon" (click)="clickReturn()">keyboard_backspace</a>
        <span class="mdc-top-app-bar__title" style="font-size: 20px">{{audioService.audioListPlaying.name}}</span>
      </section>
    </div>
  </header>
</ion-header>

<ion-content padding>
	<!-- used as padding -->
  	<div style="height: 60px"></div>
    <ion-list *ngIf = "musicItemsIsLoad == true && songlistIdIsReady == true">
	    <ion-item *ngFor = "let item of audioService.audioListPlaying.songs">

	      <ion-icon *ngIf = "audioService.audioPlaying != null && audioService.audioPlaying.id == item.id && audioService.audioState == 'playing'" name="ios-volume-up-outline" item-start (click)="audioService.pause()" style="color: red"></ion-icon>

	      <ion-icon *ngIf = "audioService.audioPlaying == null || audioService.audioPlaying.id != item.id || audioService.audioState != 'playing'" name="ios-play-outline" item-start (click)="audioService.play(item.id)"></ion-icon>

	      <p style="margin-bottom: 5px; font-size: 15px; color: black">{{item.name}}</p>
	      <p style="font-size: 12px">{{item.artist.name}}</p>
	      <ion-icon name="md-more" item-end (click)="presentActionSheet(item, $event)"></ion-icon>
	    </ion-item>

	  <!--<ion-item *ngFor = "let item of audioService.audioList">
	    {{item.name}}
	    <ion-icon *ngIf = "audioService.audioPlayingName==item.name && audioService.audioState=='playing'" name="ios-pause-outline" item-end (click)="clickChangeState(item.name, item.type)"></ion-icon>
	    <ion-icon *ngIf = "audioService.audioPlayingName!=item.name || audioService.audioState!='playing'" name="ios-play-outline" item-end (click)="clickChangeState(item.name, item.type)"></ion-icon>
	    <ion-icon name="md-more" item-end></ion-icon>
	  </ion-item>-->
  </ion-list>
</ion-content>