<!--
<ion-header>
  <ion-navbar>
    <ion-title>
      TestPage
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
    <button ion-button color="primary" (click)="clickShowSongList()">SongList</button>
  </p>
</ion-content>

<ion-footer>
  <ion-toolbar #toolbar >
    <audio #HTMLaudio></audio>
	  <canvas #cvs style="width: 100%; height: 100%"></canvas>
  </ion-toolbar>
</ion-footer>-->

<ion-header>
  <header class="mdc-top-app-bar" style="background-color: black">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
        <span class="mdc-top-app-bar__title" style="font-size: 20px">Title</span>
      </section>
    </div>
  </header>

</ion-header>

<ion-content style="padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0" class="my-background-1">
  <!-- used as padding -->
  <div style="height: 60px" class="my-background-1"></div>
  <!-- nav bar -->
  <nav id="basic-tab-bar" class="mdc-tab-bar my-background-1" style="width: 100%">
    <a class="mdc-tab mdc-tab--active mdc-elevation--z1" style="font-size: 15px" *ngIf = "pageTab == 1"> <!-- Tab index : 1 -->
      歌曲搜索
      <span class="mdc-tab__indicator"></span>
    </a>
    <a class="mdc-tab" style="font-size: 12px" *ngIf = "pageTab != 1" (click)="switchTab('1')"> <!-- Tab index : 1 -->
      歌曲搜索
      <span class="mdc-tab__indicator"></span>
    </a>
    <a class="mdc-tab mdc-tab--active mdc-elevation--z1" style="font-size: 15px" *ngIf = "pageTab == 2"> <!-- Tab index : 2 -->
      今日推荐
      <span class="mdc-tab__indicator"></span>
    </a>
    <a class="mdc-tab" style="font-size: 12px" *ngIf = "pageTab != 2" (click)="switchTab('2')"> <!-- Tab index : 2 -->
      今日推荐
      <span class="mdc-tab__indicator"></span>
    </a>
    <a class="mdc-tab mdc-tab--active mdc-elevation--z1" style="font-size: 15px" *ngIf = "pageTab == 3"> <!-- Tab index : 3 -->
      我的歌单
      <span class="mdc-tab__indicator"></span>
    </a>
    <a class="mdc-tab"  style="font-size: 12px" *ngIf = "pageTab != 3" (click)="switchTab('3')"> <!-- Tab index : 3 -->
      我的歌单
      <span class="mdc-tab__indicator"></span>
    </a>
  </nav>
  <div *ngIf = "pageTab == 1">
    <ion-item>
      <ion-input placeholder="搜索" clearInput style="border: solid 1px;"></ion-input>
    </ion-item>
  </div>
  <div *ngIf = "pageTab == 2">
    <ion-grid>
      <ion-row style="margin-top: 10px; font-size: 18px">
        <ion-col col-12>
          <span>推荐歌单</span>
          <ion-icon name="ios-stats-outline" style="margin-left: 5px"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row style="padding-top: 8px" class="mdc-elevation--z1 my-background-2">
      <ion-row *ngIf = "isRecSonglistLoaded == true">
        <ion-col col-4 *ngFor = "let item of neteaseAPIService.recSonglist[0]">
          <img src="{{item.picUrl}}" class="my-img">
          <p class="my-img-title">{{item.name}}</p>
        </ion-col>
      </ion-row>
      <ion-row *ngIf = "isRecSonglistLoaded == true">
        <ion-col col-4 *ngFor = "let item of neteaseAPIService.recSonglist[1]">
          <img src="{{item.picUrl}}" class="my-img">
          <p class="my-img-title">{{item.name}}</p>
        </ion-col>
      </ion-row>
    </ion-row>
    </ion-grid>
    <ion-grid *ngIf = "isHotSonglistLoaded == true">
      <ion-row style="margin-top: 10px; font-size: 18px">
        <ion-col col-12>
          <span>热门播放</span>
          <ion-icon name="ios-pulse-outline" style="margin-left: 5px"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="my-background-2 mdc-elevation--z1" style="margin-bottom: 5px" *ngFor = "let item of neteaseAPIService.hotSonglist">
        <ion-col col-5>
          <img src="{{item.coverImgUrl}}" class="my-img">
        </ion-col>
        <ion-col col-7>
          <p class="my-item-title">
            <ion-badge class="my-badge">{{item.tags[0]}}</ion-badge>
            {{item.name}}
          </p>
          <div style="font-size: 12px">
            <span style="margin-right: 10px">
            <ion-icon name="ios-play-outline" style="margin-right: 3px"></ion-icon>
            {{item.playCount}}</span>
            <span>
            <ion-icon name="ios-chatbubbles-outline" style="margin-right: 3px"></ion-icon>
            {{item.commentCount}}</span>
          </div>
          <!-- used as divider -->
          <hr class="mdc-list-divider" style="margin: 5px">
          <ion-row style="margin-top: 2px">
            <ion-col col-3>
              <img src="{{item.creator.avatarUrl}}" class="my-header-img">
              <ion-badge class="my-header-img-badge">V</ion-badge>
            </ion-col>
            <ion-col col-9 style="padding-top: 12px; font-size: 12px">
              {{item.creator.nickname}}
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="mdc-list-group" style="margin-top: 10px" *ngIf = "pageTab == 3">  <!-- Tab 3: Song list -->
    <ul class="mdc-list">
      <li class="mdc-list-item my-songlist-item">
        <span class="mdc-list-item__text my-songlist-item-name">最近播放</span>
        <span class="mdc-list-item__meta material-icons" aria-hidden="true">more_vert</span>
      </li>
      <li role="separator" class="mdc-list-divider my-list-divider"></li>
      <li class="mdc-list-item my-songlist-item">
        <span class="mdc-list-item__text my-songlist-item-name">下载歌曲</span>
        <span class="mdc-list-item__meta material-icons" aria-hidden="true">more_vert</span>
      </li>
    </ul>

    <h3 class="mdc-list-group__subheader my-background-1 my-songlist-title" style="font-size: 13px">本地歌单</h3>
    <ul class="mdc-list">
      <li class="mdc-list-item my-songlist-item" (click)="clickShowSongList()">
        <span class="mdc-list-item__text my-songlist-item-name">本地歌曲</span>
        <span class="mdc-list-item__meta material-icons" aria-hidden="true">more_vert</span>
      </li>
      <li role="separator" class="mdc-list-divider my-list-divider"></li>
      <li class="mdc-list-item my-songlist-item">
        <span class="mdc-list-item__text my-songlist-item-name">测试歌单1</span>
        <span class="mdc-list-item__meta material-icons" aria-hidden="true">more_vert</span>
      </li>
      <li role="separator" class="mdc-list-divider my-list-divider"></li>
      <li class="mdc-list-item my-songlist-item">
        <span class="mdc-list-item__text my-songlist-item-name">测试歌单2</span>
        <span class="mdc-list-item__meta material-icons" aria-hidden="true">more_vert</span>
      </li>
    </ul>

    <h3 class="mdc-list-group__subheader my-background-1 my-songlist-title" style="font-size: 13px">情绪歌单</h3>
    <ul class="mdc-list">
      <li class="mdc-list-item my-songlist-item">
        <span class="mdc-list-item__text my-songlist-item-name">快乐</span>
        <span class="mdc-list-item__meta material-icons" aria-hidden="true">more_vert</span>
      </li>
      <li role="separator" class="mdc-list-divider my-list-divider"></li>
      <li class="mdc-list-item my-songlist-item">
        <span class="mdc-list-item__text my-songlist-item-name">伤心</span>
        <span class="mdc-list-item__meta material-icons" aria-hidden="true">more_vert</span>
      </li>
      <li role="separator" class="mdc-list-divider my-list-divider"></li>
      <li class="mdc-list-item my-songlist-item">
        <span class="mdc-list-item__text my-songlist-item-name">寂寞</span>
        <span class="mdc-list-item__meta material-icons" aria-hidden="true">more_vert</span>
      </li>
    </ul>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar #toolbar >
    <canvas #cvs style="width: 100%; height: 100%"></canvas>
  </ion-toolbar>
</ion-footer>