page-home {
}

.font-Yahei{
	font-family: "Microsoft Yahei" !important;
}

.my-tab-active{
	color: white !important;
	border-bottom-color: white;
    border-bottom-style: solid;
    font-family: "Microsoft Yahei" !important;
}

.my-tab{
	color: white !important;
	font-family: "Microsoft Yahei" !important;
}

.my-songlist-item{
	font-size: 17px;
	height: 50px
}

.my-songlist-item-name{
	padding-top: 10px;
	padding-bottom: 10px;
}

.my-list-divider{
	margin-left: 15px !important;
	margin-right: 15px !important;
}

.my-songlist-title{
	margin-right: 0 !important;
	margin-left: 0 !important;
	padding-left: 13px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.my-background-1{
	background-color: #f2f2f2;
}
.my-background-2{
	background-color: #ffffff;
}

.my-img{
	border-radius: 5px;
}
.my-img-title{
	margin-top: 5px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 12px
}

.my-item-title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 15px
}

.my-badge{
	background-color: rgba(255,255,255,0);
	color: red;
	border: solid 1px red;
	margin-right: 5px;
	font-size: 11px;
	padding-top: 5px
}

.my-header-img{
	height: 36px;
	width: 36px;
	border-radius: 18px;
	margin-left: 5px;
	margin-right: 5px
}

// cancel underline of input
.item-inner {
	border-bottom-color: transparent !important;
	box-shadow: none !important;
}

// white underline of input
.item-inner-white {
	border-bottom-color: white !important;
}

// vertical center
.vertical-center{
	display: flex!important;
    align-content: center!important;
    align-items: center!important;
}

// disabled style
.disabled{
	pointer-events: none;
    opacity: 0.4;	
}

// opacity 0
.opacity-zero{
	background-color: rgba(255,255,255,0) !important;
}

.my-icon-btn-large{
	font-size: 50px !important;
	height: 80px !important;
	width: 80px !important;
	color: rgba(255, 255, 255, 0.75) !important;
}

.my-toast{
	text-align: center
}

.my-keyboard-hidden{
	display: none;
}